################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ClickOficina
/ClickOficina/ClickOficina/obj
/ClickOficina/ClickOficina/bin/Debug/netstandard2.0
/ClickOficina/ClickOficina.Android/obj
